.advice-page h1 {
    font-size: 2rem; 
}

.advice-page {
    text-align: center;
}

.advice-posts {
    max-height: 500px; 
    overflow-y: auto; 
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: darkred;
  }