.advice-page h1 {
    font-size: 2rem; /* This will make the font size of all h1 tags inside .advice-page 2rem */
}

.advice-page {
    text-align: center;
}

.advice-posts {
    max-height: 500px; /* Adjust this value as needed */
    overflow-y: auto; /* This will add a scrollbar if the content exceeds the max-height */
}
