.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh; /* Set minimum height to fill the viewport */
    min-width: 183vh;
    margin-top: 50px;
    position: relative;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
}

.user-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.user-details {
    flex-grow: 1;
}

.profile-name {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.date {
    font-size: 1rem;
    color: #666;
}

.help-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.help-button:hover {
    background-color: #0056b3;
}

